.stay-app {
    display: grid;
    grid-template-columns: 150px 1fr 150px;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }
}

.stay-filter-container {
    margin-top: 30px;
    // display: flex;
}

.separete-line {
    border-right: solid 0.5px rgb(221, 221, 221);
    padding: 1px;
    height: 20px;
    // margin-bottom: 50px;
    // justify-content: center;
}

.filter-btn {
    position: relative;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: $black;
    padding: 10px 16px;
    font-size: 14px;
    font-family: airbnb-book;
    margin-left: 8px;
}

.filter {
    padding-inline-start: 30px;
}

.filter-btn:hover {
    border: 1px solid $black;
}

.arrow {
    border: solid $black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-inline-start: 5px;
    margin-bottom: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filter-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    // display: inline-block;
    // padding: 3px;
    // margin-inline-end: 1px;
    // margin-top: 10px;
}

.grid-card-container {
    margin-top: 38px;
    row-gap: 38px;
    column-gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.grid-card-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.grid-img img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
}

.all-txt {
    aspect-ratio: 6 / 1;
    // object-fit: cover;
    // background-color: lightgreen;
//     width: fit-content;
// block-size: fit-content;

    // text-size-adjust:inherit;
    // text-size-adjust: auto;
    // text-size-adjust: 60%;
}

.stay-name {
   margin-top: 7px;
   font-family: airbnb-medium;
   justify-content: space-between;
   display: flex;
   gap: 10px;
    .left-details-display {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        // width: 210px; // some width
        flex-grow:1fr;
        max-width: 40ch;
    }
    .price-details-display {
        color: $black;
        font-family: airbnb;
        font-size: 16.5px;
        min-width: 90px;
    }
}
.stay-details-display {
    color: $gray;
    font-family: airbnb;
    font-size: 16.5px;
    // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

    // font-size: calc(100% - 300px);
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
//     display: flex;
//   flex-flow: row nowrap;
//   justify-content: space-between;
//   align-content: center;
//   align-items:center;

}








@media (max-width: 1919px) {
    .btn-12 {
        display: none;
    }
}

@media (min-width: 1920px) {
    .btn-12 {
        display:flexbox;
    }
}

@media (max-width: 1849px) {
    .btn-11 {
        display: none;
    }
}

@media (min-width: 1850px) {
    .btn-11 {
        display:flexbox;
    }
}

@media (max-width: 1775px) {
    .btn-10 {
        display: none;
    }
}

@media (min-width: 1776px) {
    .btn-10 {
        display:flexbox;
    }
}

@media (max-width: 1708px) {
    .btn-9 {
        display: none;
    }
}

@media (min-width: 1709px) {
    .btn-9 {
        display:flexbox;
    }
}

@media (max-width: 1516px) {
    .btn-8 {
        display: none;
    }
}

@media (min-width: 1517px) {
    .btn-8 {
        display:flexbox;
    }
}

@media (max-width: 1439px) {
    .btn-7 {
        display: none;
    }
}

@media (min-width: 1438px) {
    .btn-7 {
        display:flexbox;
    }
}

@media (max-width: 1317px) {
    .btn-6 {
        display: none;
    }
}

@media (min-width: 1316px) {
    .btn-6 {
        display:flexbox;
    }
}

@media (max-width: 1226px) {
    .btn-5 {
        display: none;
    }
}

@media (min-width: 1225px) {
    .btn-5 {
        display:flexbox;
    }
}

@media (max-width: 1102px) {
    .btn-4 {
        display: none;
    }
}

@media (min-width: 1101px) {
    .btn-4 {
        display:flexbox;
    }
}

@media (max-width: 958px) {
    .btn-3 {
        display: none;
    }
}

@media (min-width: 957px) {
    .btn-3 {
        display:flexbox;
    }
}

@media (max-width: 866px) {
    .btn-2 {
        display: none;
    }
}

@media (min-width: 865px) {
    .btn-2 {
        display:flexbox;
    }
}

@media (max-width: 799px) {
    .btn-1 {
        display: none;
    }
}

@media (min-width: 798px) {
    .btn-1 {
        display:flexbox;
    }
}

.isSelected {
    top: -1px;
    right: -1px;
    border: 2px solid $black;
    background-color: rgba(243, 243, 243, 0.685);
}



//modals

.typeof-modal {
    top: 160px;
    left: 250px;
    position: absolute;
    overflow: hidden auto;
    width: 330px;
    height: 350px;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px;

    .option-container {
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;

        align-items: center;

        .option-text {
            display: flex;
            flex-direction: column;
            font-family: airbnb;

            span {
                color: $black;

            }

            small {
                color: $gray;
            }
        }

        .checkbox {
            cursor: pointer;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(176, 176, 176);
            height: 24px;
            width: 24px;
            background: rgb(255, 255, 255);
            text-align: center;
            overflow: hidden;
            vertical-align: top;
            border-radius: 4px;
            margin-inline-end: 20px;
        }

        .checked {
            background-color: $black;
        }
        .checked::after {
            background-color: $black;
            content: 'V';
            color: white;
        }
    }
}

.filters {
    display: flex;
}