


.top-fold {

    .home-img {
        
        img {
            object-fit: cover;
            position: relative;
        }
    }
    .slogan {
        font-family: airbnb-medium;
        font-size: 37px;
        transform: translate( -50%, -50% );
        text-align: center;
        color: white;
        position: absolute;
    }

    .flexible-btn {
        position: absolute;
        padding: 16px 32px;
        cursor: pointer;
        text-align: center;
        width: auto;
        font-family: airbnb-medium;
        font-size: 16px;
        line-height: 20px;
        border-radius: 1000px;
        border: 1px solid black;

        span {
            -webkit-text-fill-color: transparent;
            background: -webkit-linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
            background: -moz-linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
            background: linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
            background-clip: text;

        }
    }

}

@media (max-width: $break-narrow) {
    .top-fold  {
        grid-column: 1/-1;
       margin-top: 0;
       height: 750px;
    }

    .home-img {
        border-radius: none;
        grid-column: 1/-1;
        height: 750px;

        img {
            border-radius: none;
            grid-column: 1/-1;
            height: 750px;
        }

    }

    .slogan {
        font-family: airbnb-medium;
        font-size: 37px;
        width: 120%;
        top: 90%;
        left: 70%;
        text-align: center;
        color: white;
        position: absolute;
    }

    .flexible-btn {
        top:98%;
        position: absolute;
        left: 48.5%;
        padding: 16px 32px;
        cursor: pointer;
        text-align: center;
        width: auto;
        font-family: airbnb-medium;
        font-size: 16px;
        line-height: 20px;
        border-radius: 1000px;
        border: 1px solid black;
    }

}

@media (min-width: $break-narrow) {

    .home {
        background-color: black;
        width: 100%;
    }


    .top-fold  {    
    margin-top: 170px;
    height: 700px;
    
    }

    .home-img {
        grid-column: 2/3;


        img {
            border-radius: 20px;
            height: 700px;
        }

    }

    .slogan {
        white-space: nowrap;
        max-width: 100%;
        font-family: airbnb-medium;
        font-size: 37px;
        top: 55%;
        left: 49%;
        transform: translate( -50%, -50% );
        text-align: center;
        color: white;
        position: absolute;
    }

    .flexible-btn {
        top:60%;
        left: 44%;
    }
}



.bottom-fold {
    background-color: white;
    
    .locations-section {
        margin-top: 50px;
        font-family: airbnb-book;
        font-size: 25px;
        letter-spacing: -0.02em;

        h1 {
            color: $black;
            margin-bottom: 30px;
        }
        .location-cards {
            cursor: pointer;
            display: grid;
            column-gap: 20px;
    
            .location-img {
                border-radius: 10px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
            }
    
            h4 {
                text-transform: capitalize;
                font-family: airbnb;
                font-size: 22px;
                color: $black;
            }
    
        }

        .banner {
            
            position: relative;

            h1 {
                font-family: airbnb-book;
                font-size: 50px;
                letter-spacing: -0.02em;
                color: white;
                position: absolute;
            }


            .sub-header {
                font-family: airbnb;
                color: white;
                position: absolute;
            }

            
            img {
                border-radius: 10px;
                height: 550px;
                object-fit: cover;
            }

            button {
                cursor: pointer;
                position: absolute;
                color: $black;
                font-size: 15px;
                font-family: airbnb-medium;
                background-color: #FFFFFF;
                padding-top: 16px;
                padding-right: 18px;
                padding-bottom: 16px;
                padding-left: 18px;
                border-radius: 8px;
                border: none;
            }
          
        }
    }

 


 
}


@media (max-width: $break-narrow) {
    .bottom-fold {
        margin-top: 20px;
    }

    .locations-section {
        margin-top: 20px;
    }

    .location-cards {
        grid-template-columns: repeat(4, 280px);
        grid-auto-flow: column;
    gap: 25px;
    overflow-x: scroll;
    // overflow: auto hidden;
    // -ms-scroll-snap-type: x mandatory;
    // scroll-snap-type: x mandatory;
    }

    .location-img { 

        height: 350px;
    }

    .banner {
        margin-top: 50px;
        margin-bottom: 60px;


    h1 {
        margin-top: 40px;
        margin-left: 40px;
    }

    button {
        margin-top: 185px;
        margin-left: 40px;
    }

    .sub-header {
        font-family: airbnb;
        color: white;
        margin-left: 40px;
        margin-top: 100px;
        position: absolute;
    }

    .learn-btn {
        margin-top: 200px;
    }

    }
}

@media (min-width: $break-narrow) {

    .bottom-fold {
        margin-top: 100px;
    }

    .locations-section {
        margin-top: 50px;
    }

    .location-cards {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .location-img {
        height: 90%;
    }

    .banner {
        margin-top: 105px;
        margin-bottom: 105px;

        h1 {
            margin-top: 100px;
            margin-left: 50px;
        }
    
        button {
            margin-top: 185px;
            margin-left: 50px;
        }

        .sub-header {
                
            font-size: 18px;
            margin-left: 50px;
            margin-top: 170px;
        }
    
        .learn-btn {
            margin-top: 230px;
        }
    }
 
}

