.stay-details {
    display: grid;
    grid-template-columns: $layoutPaddingHome minmax(1fr, 1500px) $layoutPaddingHome;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }
}
.name {
    margin-top: 19px;
    margin-bottom: 13px;
    font-family: airbnb-medium;
    color: $black;
    font-size: 27px;
}
.star {
    width: 15px;
    height: 15px;
}
.location-name {
    width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $gray;
    font-family: airbnb-medium;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-bottom: 24px;
}
.imgs-layout {
    height: $layoutimgsheight;
    width: 1500px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.img1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 49.82%;
    object-fit: cover;
}
.first-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 24.28%;
}
.img2 {
    height: 50%;
    object-fit: cover;
}
.img3 {
    height: 47.94%;
    object-fit: cover;
}
.second-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 24.28%;
}
.img4 {
    border-top-right-radius: 15px;
    height: 50%;
    object-fit: cover;
}
.img5 {
    border-bottom-right-radius: 15px;
    height: 47.94%;
    object-fit: cover;
}
.res-details-layout {
    width: 1500px;
    margin-top: 45.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1218px;
    color: $black;
    border-bottom: $separate solid 1px;
    margin-bottom:50px ; 
}
.stay-info {
    width: 59.02%;
}
.head-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    color: $black;
    border-bottom: $separate solid 1px;
}
.stay-info-heder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.minimal-details {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 5px;
    font-family: airbnb-medium;
    font-size: 24px;
}
.baner {
    grid-column: 2;
    grid-row: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.location-space {
    grid-column: 1;
    grid-row: 2;
    font-family: airbnb;
    font-size: 1rem;
}
.stay-info-desc {
    padding-top: 32px;
    padding-bottom: 14px;
    font-family: airbnb-book;
    font-size: 0.95rem;
    border-bottom: $separate solid 1px;
}
.stay-info-desc-end{
    padding-top: 32px;
    padding-bottom: 14px;
    font-family: airbnb-book;
    font-size: 0.95rem;
}
.vibrous {
    line-height: 1.25;
}
.short-exmple {
    font-family: airbnb-medium;
    padding-bottom: 4px;
}
.exsplnation {
    padding-bottom: 25px;
    font-family: airbnb;
    color: $gray;
}
.spacing {
    padding-bottom: 25px;
}
.padding {
    padding-bottom: 32px;
}
.show-more-amenities {
    height: 45px;
    width: 200px;
    border: #222222 solid 0.2px;
    border-radius: 8px;
    font-size: 0.85rem;
    color: $black;
    background-color: white;
}
.show-more-amenities :hover{
    cursor: pointer;
}
.icon {
    width: 40px;
    height: 20px;
    padding-right: 20px;
}
.icons {
    width: 30px;
    height: 25px;
    padding-right:5px;
}
.icon-bed {
    width: 20px;
    height: 38px;
    padding-bottom: 10px;
}
.bed-card {
    height: 140px;
    width: 205px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
}
.offeres-layout {
    display: flex;
    flex-direction: row;
}
.houseRules-layout {
    padding-right: 150px;
}
.stay-reserve-layout{
    width: 24.03%;
}
.stay-reserve {
    position: relative;
    width:100%;
    height: 472px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

     .details  {
         position: absolute;
         right:40px;
     }

}
.price-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 28px;
}
.stay-price {
    font-family: airbnb-medium;
    font-size: 24px;
    margin-right: 3px;
}
.night {
    width: 43.5%;
    margin-top: 7px;
    font-size: 14px;
    font-family: airbnb;
}
.rate {
    margin-top: 7px;
    font-size: 13px;
    font-family: airbnb-medium;
}
.reviews {
    color: $gray;
    margin-top: 9px;
    font-size: 13px;
    font-family: airbnb-medium;
    text-decoration: underline;
}
.checking {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    height: 112px;
    border: solid 1px $gray;
    border-radius: 10px;
    font-family: airbnb-medium;
    font-size: 0.65rem;
    margin-bottom: 10px;

    input {
        font-size: 14px;
        font-family: airbnb;
        color: $gray;
        border:none;
        background: transparent;

    }

    input:first-of-type{
        margin-inline-start: 2px;
        margin-right: 1px;
        margin-top: 6px;
    }


}
.check-in {
    grid-column: 1;
    border-right: solid 1px $gray;
    border-bottom: solid 1px $gray;
    .mx-datepicker-main{
        width: 20000px;
        background-color: aqua !important;
    }
}
.check-out {
    grid-column: 2;
    border-bottom: solid 1px $gray;
}
.category-stay-label {
    margin-left: 5px;
    margin-top: 5px;
}
.add {
    font-family: airbnb;
    color: $gray;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}
.guests-num {
    cursor: pointer;
    grid-row: 2;
    grid-column: span 2;
}
.check-available {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: airbnb-medium;
    border-radius: 10px;
    margin: 0 auto;
    height: 50px;
    background-color: $brand;
    color: white;
    margin-bottom: 14px;
}
.charged {
    text-align: center;
    color: $gray;
    font-family: airbnb-book;
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.priceing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $gray;
    font-family: airbnb-book;
    padding-bottom: 10px;
}
.total {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: airbnb-book;
    border-top: opacify($color: $separate, $amount: 0.5) solid 0.5px;
}
.report-stay {
    width:100%;
    margin-top: 30px;
    text-align: center;
    color: $gray;
}
.report-stay img {
    width: 20px;
}
.report-text {
    color: $gray;
    text-decoration: underline;
}
.text-avilable {
    margin-top: 15px;
}
.reviews-display{
    width: 1500px;
    border-bottom: $separate solid 1px;
    margin-bottom:50px ;
}
.reviews-rating-data{
    display: grid;
    row-gap:24px ;
    column-gap: 90px;
    grid-template-columns: 46% 46%;
    grid-template-rows: 33% 33% 33% ;
    padding-bottom: 75px;
}
.reviews-display-data{
    display: grid;
    row-gap:50px ;
    column-gap: 90px;
    grid-template-columns: 46% 46%;
    grid-template-rows: 33% 33% 33% ;
    padding-bottom: 100px;
}
.user-review-avatar{
    height: 50px;
    width: 50px;
}
.review-date{
    font-size: 13px;
    padding-bottom: 25px;
    font-family: airbnb;
    color: $gray;
}
.location-name-map {
    color: $black;
    font-family: airbnb;
    font-size: 0.85rem;
    margin-bottom: 30px;
}
.stay-location-map{
    width: 1500px;
    border-bottom: $separate solid 1px;
    margin-bottom:50px ; 
}
.contact-host{
    height: 45px;
    width: 150px;
    border: #222222 solid 0.2px;
    border-radius: 8px;
    font-size: 0.85rem;
    color: $black;
    font-family: airbnb-medium;
    background-color: white;
}
.review-rate-bar{
    width:60%;
    height: 10px;
    border-radius: 10px;
    margin-top: 5px;
}
.review-rate-bar>div{
    background-color: $black;
    height: 10px;
    border-radius: 10px;
    color: transparent;
}

//GUESTS MODAL//
.guests-options {
    z-index: 5;
    top: 198px;
    right: 0px;
    position: absolute;
    overflow: hidden auto;
    width: 390px;
    height: 210px;
    padding: 35px;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 37px;
    h1 {
        color: $black;
        font-size: 19px;
        font-family: airbnb-book;
    }
    h1:not(first-of-type) {
        margin-top: 15px;
    }
    span {
        color: $black;
        font-size: 15px;
        font-family: airbnb;
    }
}

.input-filter {
    .el-input-number {
        position: absolute;
    
    }
    
    .el-input-number__increase, .el-input-number__decrease {
        width: 32px !important;
        height: 32px !important;
        cursor: pointer;
        display: inline-flex;
        margin: 0px ;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(176, 176, 176) !important;
        color: rgb(113, 113, 113) !important;
        touch-action: manipulation;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 50% !important;
    }
        .el-input-number__decrease.is-disabled, .el-input-number__increase.is-disabled {
    
            color:rgb(235, 235, 235) !important;
            border-color: rgb(235, 235, 235) !important;
            cursor: not-allowed;
        }
        .el-input-number__increase {
            height: 35px;
            width: 35px
        }
        
        .el-input-number__decrease {
            left: 70px;
            height: 35px;
            width: 35px
        }
        
        
        .el-icon-plus:before, .el-icon-minus:before {
            font-weight: 900 !important;
        }

        input.el-input__inner {
            
            text-align: center;
            font-family: airbnb-book;
            background: transparent;
            border: none;
            color: $black;
            font-size: 16px;
            padding-left: 115px !important;

        }

        

}



.guests-selection {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(235, 235, 235);


    .adults-container, .children-container, .infants-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
<<<<<<< HEAD


.user-msg {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    color: $black;
    font-family: airbnb;
    font-size: 19px;
    padding: 30px;
    right: 5px;
    width: 40%;
    border-radius: 13px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px;
    border: 1px solid #c7c7c7;
    z-index: 10;
    transition: 3s;

     img {
         position: absolute;
         left: 0;
         margin-inline-start: 20px;
         width: 40px;
         height: 40px;
     }
}
=======
@media (max-width: 400px) {
    .location-name{
        flex-direction: column;
        gap: 10px;
    }
    .imgs-layout{
        width: 385px;
    }
    .img1{
      width: 100%;
      }
    .img2{
      display: none;
    }
    .img3{
        display: none;
    }
    .img4{
        display: none;
    }
    .img5{
        display: none;
    }
    .head-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        padding-right: 20px;
        padding-left: 20px;
        height: 65px;

    }
    .minimal-details {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 5px;
        font-family: airbnb-medium;
        font-size: 16px;
    }
    .location-space{ 
        font-size: 13px;
    }
    .stay-info-desc {
        width:42.3%;
        padding-top: 32px;
        padding-bottom: 14px;
        font-family: airbnb-book;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.75rem;
        border-bottom: #DDDDDD solid 1px;
    }
    .stay-info-desc-end {
        width:42.3%;
        padding-top: 32px;
        padding-bottom: 14px;
        padding-right: 20px;
        padding-left: 20px;
        font-family: airbnb-book;
        font-size: 0.75rem;
        border-bottom: #DDDDDD solid 1px;
    }
    .reviews-display-data {
        display: grid;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 46%;
        grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
        padding-bottom: 100px;
    }
    .stay-reserve-layout{
        display: none;
    }
  }
>>>>>>> 42601a61a78af13537bdfdcf002779a740831c88
