.airbnb-medium{
    font-family: airbnb-medium;
}
.airbnb{
    font-family: airbnb;
}
.spacing-15px{
    padding-bottom: 15px;
}
.spacing-44px{
    padding-bottom: 44px;
}
.padding-50px{
    padding-bottom: 35px;
}