
// COLOR PALLETE
$brand : #ff385c;
$black: #222222;
$gray: #717171;

//LAYOUT

$layoutPadding: 80px;
$layoutPaddingHome: 80px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 980px;