
// COLOR PALLETE
$brand : #ff385c;
$black: #222222;
$gray: #717171;
// LAYOUT
$layoutPadding: 230px;
$layoutimgsheight:395px;
$layoutimgswidth:1120px;
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;