.footer-container {
    height: 70px;
    font-family: airbnb;
    color: $black;
    border-top: 1px solid #ddd;
    background-color: #F7F7F7;
    bottom: 0;

    .main-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .left-nav {
            display: flex;
        }

        .right-nav {
            display: flex;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}