.stay-app {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }
    
    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }
    
    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}
.imgs-layout {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    justify-content: space-around;
    gap: 10px;
}
.img1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    grid-column: span 2;
    grid-row: span 2;
}
// .img {
//     display: grid;
//     grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
//     gap: 20px;
//     grid-auto-flow: dense;

//     > * {
//         display: grid;

//         align-items: center;
//         justify-items: center;

//         > * {
//             grid-area: 1 / 1;
//         }
//     }

// }
.img2 {
    grid-column: 3;
    grid-row: 1;
    object-fit: contain;
}
.img3 {
    grid-column: 3;
    grid-row: 2;
    object-fit: contain;
}
.img4 {
    border-top-right-radius: 15px;
    grid-column: 4;
    grid-row: 1;
    object-fit: contain;
}
.img5 {
    border-bottom-right-radius: 15px;
    grid-column: 4;
    grid-row: 2;
    object-fit: contain;
}
