.stay-details {
    display: grid;
    grid-template-columns: $layoutPaddingDetails minmax(1fr, $layoutimgswidth) $layoutPaddingDetails;

    > * {
        grid-column: 2;
    }

    > *.full {
        grid-column: 1 / -1;
    }
}
.name {
    margin-top: 19px;
    margin-bottom: 13px;
    font-family: airbnb-medium;
    font-size: 27px;
}
.star{
width: 15px;
height:15px;
}
.location-name {
    color: $gray;
    font-family: airbnb-medium;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-bottom: 24px;
}
.imgs-layout {
    height: $layoutimgsheight;
    width: $layoutimgswidth;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.img1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 49.82%;
    object-fit: cover;
}
.first-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 24.28%;
}
.img2 {
    height: 50%;
    object-fit: cover;
}
.img3 {
    height: 47.94%;
    object-fit: cover;
}
.second-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 24.28%;
}
.img4 {
    border-top-right-radius: 15px;
    height: 50%;
    object-fit: cover;
}
.img5 {
    border-bottom-right-radius: 15px;
    height: 47.94%;
    object-fit: cover;
}
.res-details-layout {
    width: $layoutimgswidth;
    margin-top: 45.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1924px;
    border-bottom: $gray solid 1px;
}
.stay-info {
    width: 59.02%;
}
.head-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    border-bottom: $gray solid 0.5px;
}
.stay-info-heder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.minimal-details {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 5px;
    font-family: airbnb-medium;
    font-size: 24px;
}
.baner {
    grid-column: 2;
    grid-row: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.location-space {
    grid-column: 1;
    grid-row: 2;
    font-family: airbnb;
    font-size: 1rem;
}
.stay-info-desc{
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: airbnb-book;
    font-size: 0.95rem;
    border-bottom: $gray solid 0.5px;
}
.spacing{
padding-bottom: 25px;
}
.offeres-layout{
display: flex;
flex-direction: row;
}
.houseRules-layout{
    padding-right:150px ;
}
.stay-reserve {
    width: 33.03%;
    height: 472px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.price-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stay-price {
    font-family: airbnb-medium;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 3px;
}
.night {
    width: 43.5%;
    margin-top: 5px;
    font-size: 1rem;
    font-family: airbnb;
}
.rate {
    margin-top: 5px;
    font-size: 1rem;
    font-family: airbnb;
}
.reviews {
    color: $gray;
    margin-top: 5px;
    font-size: 1rem;
    text-decoration: underline;
    font-family: airbnb;
}
.checking {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    width: 86.48%;
    height: 112px;
    border: solid 1px $gray;
    border-radius: 10px;
    font-family: airbnb-medium;
    font-size: 0.65rem;
    margin-bottom: 10px;
}
.check-in {
    grid-column: 1;
    border-right: solid 1px $gray;
    border-bottom: solid 1px $gray;
}
.check-out {
    grid-column: 2;
    border-bottom: solid 1px $gray;
}
.category-stay-label {
    margin-left: 5px;
    margin-top: 5px;
}
.add {
    font-family: airbnb;
    margin-left: 5px;
    margin-top: 5px;
}
.guests-num {
    grid-row: 2;
    grid-column: span 2;
}
.check-available {
    display: flex;
    justify-content: center;
    font-family: airbnb-medium;
    border-radius: 10px;
    margin: 0 auto;
    width: 86.48%;
    height: 50px;
    background-color: $brand;
    color: white;
    margin-bottom: 14px;
}
.charged{
   text-align: center;
   color: $gray;
    font-family: airbnb-book;
    font-size: 0.95rem;
    margin-bottom: 20px;
}
.underline{
    text-decoration: underline;
}
.priceing{
display: flex;
flex-direction: row;
justify-content: space-between;
color: $gray;
font-family: airbnb-book;
margin-bottom:20px ;
}
.total{
    padding-top:20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: airbnb-book;
    border-top:opacify($color: $gray, $amount: 0.5) solid 0.5px ;
    }
.report-stay {
    text-align: center;
    color: $gray;
}
.report-stay img {
    width: 20px;
}
.report-text {
    color: $gray;
    text-decoration: underline;
}
.text-avilable {
    margin-top: 15px;
}
