.footer-container {
    padding-top: 71px;
    height: 159px;
    font-family: airbnb;
    color: $black;
    background-color: #F7F7F7;
    bottom: 0;

    .main-footer {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .left-nav {
            display: flex;

            p {
                margin-inline-end: 10px;
            }
        }

        .right-nav {
            display: flex;
            img {
                margin-inline-end: 10px;
                width: 20px;
                height: 20px;
            }

            p {
                margin-inline-end: 10px;
            }

            p:first-of-type {
                font-family: airbnb-medium;
                text-decoration: underline;
                margin-inline-end: 27px;
            }

            p:nth-of-type(3) {
                font-family: airbnb-medium;
                text-decoration: underline;
                padding-inline-end: 67px;
            }

            span {
                margin-inline-start: 10px;
            }
        }

        .socials {
            img:not(:last-of-type) {
                margin-inline-end: 30px;
            }
        }
    }
}