






.app-header{
    display: grid;
    z-index: 99;
    transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;
    .home-nav{ 
        position: fixed;
    }
    .main-nav {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px;
        .initial-search-bar{
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            box-shadow: rgb(46 47 48 / 27%) 0px 0px 0.1em 0.04em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
            border-radius: 40px;
            background-color: white;
            height: 47px;


            p {
                font-family: airbnb-medium;
                padding-inline-start: 25px;
            }

            .circle{
                cursor: pointer;
                .search-icon {
                    position: absolute;
                    top: 8px;
                    width: 32px;
                    height: 32px;
                }
            }
        }   


        .secondary-search-bar{
            margin:0 auto;
            cursor: pointer;
            top: 80px;
            position: absolute;
            box-shadow: rgb(46 47 48 / 27%) 0px 0px 0.1em 0.04em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
            border-radius: 40px;
            background-color: white;
            width: 300px;
            height: 47px;

            p {
                font-family: airbnb-medium;
                letter-spacing: 0.1px;
                font-size: 14px;
                color: $black;
                padding-inline-start: 25px;
            }

            .circle{
                cursor: pointer;
                .search-icon {
                    position: absolute;
                    top: 8px;
                    right: 5px;
                    width: 32px;
                    height: 32px;

                }

            }
        }   
}


.notification-icon {
    position: absolute;
    right:0;
    width: 15px;
    height: 15px;
}




@media (max-width: $break-narrow) {

    .mobile-header {
        position: fixed;
        top: 0;
    left: 0;
    right: 0;
        grid-template-columns: 20px 350px 20px;
        z-index: 99;
        grid-template-rows: 70px;  //.full : add another 80px
        transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;
        display: grid;
        z-index: 99;
        transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;
        background-color: white;
        
    }

    .main-nav{
        display: none;
    }



    .app-header{
        position: fixed;
        top: 0;
    left: 0;
    right: 0;
        grid-template-columns: 20px 350px 20px;
        z-index: 99;
        grid-template-rows: 70px;  //.full : add another 80px
        transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;

        .home-nav{ 
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }


    .logo-img {
        display: none;
    }
    .logo-icon {
       display: none;
    }
        .host-options {
            display: none;

            .become {
                display: none;
            }

        }
        .global img{
            display: none;
        }
        .user-options {
            display: none;

            .avatar {
                display: none;
            }
            .burger {
                display: none;
            }
        }

        .initial-search-bar{
            display: flex;
            align-items: center;
            margin:0 auto;
            width: 85%;
            height: 47px;


            p {
                font-family: airbnb-medium;
                padding-inline-start: 25px;
            }

            .circle{
                cursor: pointer;
                .search-icon {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    width: 32px;
                    height: 32px;
                }
            }
        }   

        
    }
}

@media (min-width: $break-narrow) {

    .mobile-header {
        display: none;
    }

    .app-header{
        grid-template-columns: $layoutPaddingHome auto $layoutPaddingHome;
        grid-template-rows: 80px;  //.full : add another 80px
        z-index: 99;
        transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;
    }
    
    .logo-img {
        transition: .5s;
        object-fit: contain;
        cursor: pointer;
        width: 123px;
        height: 37px;
    }
    .logo-icon {
        cursor: pointer;
        width: 37px;
        height: 37px;
    }
        .host-options {
            display: flex;
            cursor: pointer;

            .become {
                letter-spacing: 0.1px;
                margin-inline-end: 25px;
                // margin-inline-start: 900px;
                font-family: airbnb-medium;
                font-size: 14px;
            }

        }

        .global img{
            display: flex;
            // margin-inline-start: 1050px;
            margin-inline-end: 25px;
            cursor: pointer;
            width: 18px;
            height: 18px;
        }



        .user-options {
            // margin-inline-start: 1200px;
            background-color: white;
            cursor: pointer;
            position: relative;
            box-shadow: rgb(46 47 48 / 27%) 0px 0px 0.1em 0.04em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
            width: 75px;
            height: 40px;
            border-radius: 40px;
            // margin-inline-end:$layoutPaddingHome ;

            .avatar {
                position: absolute;
                top: 5px;
                right: 6px;
                width: 30px;
                height: 30px;
                border-radius: 15px;
            }


            .burger {
                position: absolute;
                top: 9px;
                color: $black;
                left: 13px;
            }
           

        }

        .initial-search-bar{
            display: flex;
            align-items: center;
            margin:0 auto;
            margin-left: 28%;
            width: 300px;
            height: 47px;


            p {
                font-family: airbnb-medium;
                padding-inline-start: 25px;
            }

            .circle{
                cursor: pointer;
                .search-icon {
                    position: absolute;
                    right: 11px;
                    top: 8px;
                    width: 32px;
                    height: 32px;
                }
            }
        }   


}


.app-header-expanded {
    display: grid;
    z-index: 99;
    transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;

    .main-nav {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // height: 80px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px;


}



@media (max-width: $break-narrow) {

    .app-header-expanded {
        position: fixed;
        top: 0;
    left: 0;
    right: 0;
        grid-template-columns: 20px 485px 20px;
        z-index: 99;
        grid-template-rows: 70px;  //.full : add another 80px
        transition: background-color .5s ease-out,height .4s ease-out,box-shadow .3s ease-out;
        
        .logo-img {
            display: none;
        }
        .logo-icon {
            display: none;
        }
        .host-options {
       
            display: none;
 

            .become {
                display: none;
            }

        }
        .global img{
            display: none;
        }
        .user-options {
            display: none;

            .avatar {
                display: none;
            }

            .burger {
                display: none;
            }
           
        }

    }
    .secondary-search-bar{
        width: 300px;
        cursor: pointer;
        grid-row: 2;
        top: 40%;
        left: 48.5%;
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: rgb(46 47 48 / 27%) 0px 0px 0.1em 0.04em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
        border-radius: 40px;
        background-color: white;

        form {
            display: flex;
        }

        .main-search-label {
            padding-top: 5px;
            padding-bottom: 5px;
            cursor: pointer;
            padding-inline-start: 5px;
            padding-inline-end: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            white-space: nowrap;
            // width: 100%;

            span {
                margin-inline-start: 5px;
                font-size: 12px;
                letter-spacing: 0.04em;
                padding-bottom: 2px;
                font-family: airbnb-medium;
            }

            input {
                margin-inline-start: 5px;
                background-color: white;
                color: $gray;
                font-family: airbnb;
                font-size: 14px;
                border: none;
            }
        }
    
        .main-search-label:not(:last-of-type) {
            border-right: 1px solid hsla(0,0%,56.1%,.2196078431372549);
        }
        .main-search-label:hover {
            border-radius: 40px;
            background-color: #ebebeb;

            input {
                background-color: #ebebeb;
            }
        }
        .circle{
            cursor: pointer;
            .search-icon {
                position: absolute;
                top: 8px;
                right: 5px;
                width: 50px;
                height: 50px;

            }
        }
    }   

    .nav-link {
        margin: 0 auto;
        font-size: 17px;
        color: $black;
        font-family: airbnb;

        span {
            padding-inline-start: 35px;
        }

        span:first-of-type {
            padding-inline-start: 100px;
        }
    
}
.mobile-nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #EBEBEB;
    height: 80px;
    left: 0px;
    right: 0pxt;
    padding-bottom: 60px;
    background: #ffffff;
    display: none;

    .mobile-option {
        font-size: 17px;
        font-family: airbnb-medium;
        color: $gray;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     img {
         width: 30px;
         height: 30px;
         margin-top: 10px;
     }

}

}



@media (min-width: $break-narrow) {

    .app-header-expanded {
        grid-template-columns: $layoutPaddingHome auto $layoutPaddingHome;
        grid-template-rows: 80px 100px;
        



    .home-nav{ 
        position: fixed;
    }

    .logo-img {
        transition: .5s;
        object-fit: contain;
        cursor: pointer;
        // margin-inline-start: $layoutPaddingHome;
        width: 123px;
        height: 37px;
    }

    .logo-icon {
        cursor: pointer;
        // margin-inline-start: $layoutPaddingHome;
        width: 37px;
        height: 37px;
    }


    .host-options {
       
        display: flex;
        cursor: pointer;


        .become {
            letter-spacing: 0.1px;
            // margin-inline-end: 25px;
            // margin-inline-start: 900px;
            font-family: airbnb-medium;
            font-size: 14px;
        }

    }

    .global img{
        display: flex;
        // margin-inline-start: 1050px;
        // margin-inline-end: 25px;
        cursor: pointer;
        width: 18px;
        height: 18px;
    }

    .host-options {
        display: flex;
        cursor: pointer;


        .become {
            letter-spacing: 0.1px;
            margin-inline-end: 30px;
            font-family: airbnb-medium;
            font-size: 14px;
        }

    }



    .user-options {
        background-color: white;
        cursor: pointer;
        position: relative;
        box-shadow: rgb(46 47 48 / 27%) 0px 0px 0.1em 0.04em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
        width: 75px;
        height: 40px;
        border-radius: 40px;
        // margin-inline-end:$layoutPaddingHome ;

        .avatar {
            
            position: absolute;
            top: 5px;
            right: 6px;
            width: 30px;
            height: 30px;
        }

        .burger {
            position: absolute;
            position: absolute;
            top: 9px;
            color: $black;
            left: 13px;
        }



    }
    .secondary-search-bar{
        cursor: pointer;
        grid-row: 2;
        top: 40%;
        left: 50.5%;
        transform: translate(-50%, -50%);
        position: absolute;
        box-shadow: rgb(46 47 48 / 27%) 0px 0px 0.1em 0.04em, rgb(90 125 188 / 5%) 0px 0.25em 1em;
        border-radius: 40px;
        background-color: white;

        form {

            display: flex;
        }

        .main-search-label {
            padding-top: 14px;
            padding-bottom: 14px;
            cursor: pointer;
            padding-inline-start: 14px;
            padding-inline-end: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;

            span {
                margin-inline-start: 14px;
                font-size: 12px;
                letter-spacing: 0.04em;
                padding-bottom: 2px;
                font-family: airbnb-medium;
            }

            input {
                margin-inline-start: 13px;
                background-color: white;
                color: $gray;
                font-family: airbnb;
                font-size: 14px;
                border: none;

                
            }

        }
        

        .main-search-label:not(:last-of-type) {
            border-right: 1px solid hsla(0,0%,56.1%,.2196078431372549);
       
        }

        .main-search-label:hover {
            border-radius: 40px;
            background-color: #ebebeb;

            input {
                background-color: #ebebeb;
            }
        }

        .circle{
            cursor: pointer;
            .search-icon {
                position: absolute;
                top: 8px;
                right: 11px;
                width: 50px;
                height: 50px;

            }

        }
    }   

    .nav-link {
        margin: 0 auto;
        font-size: 17px;
        color: $black;
        font-family: airbnb;

        span {
            padding-inline-start: 35px;
        }

        span:first-of-type {
            padding-inline-start: 100px;
        }
    }
}

.mobile-nav {
    display: none;

}

}

