.dynamicModal {

    position: absolute;
    

    .location-modal {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 170px;
        width: 500px;
        position: absolute;
        left: 0px;
        top: 63px;
        background: #FFFFFF;
        border-radius: 32px;
        box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
        margin-top: 12px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 16px 37px;

        span {
            color: $black;
            margin-inline-start: 5px;
            margin-bottom: 15px;
            font-size: 12px;
            font-family: airbnb-medium;
        }

        button {
            cursor: pointer;
            position: relative;
            background-color: white;
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            padding: 8px 24px;
            margin-top: 8px;
            box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
            border-radius: 32px;
            height: 58px;
            border: 1px solid rgb(221, 221, 221);
            
            p {
                -webkit-text-fill-color: transparent;
                background: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 320.12%);
                background-clip: text;
                font-family: airbnb-medium;
                font-size: 18px;
                max-height: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }

        img {
            position: absolute;
            right:60px ;
            bottom: 55px;
            width: 25px;
            height: 25px;
        }

    }

    .checkin-modal {
        width: 300px;
        height: 500px;
        background-color: pink;
    }

    .checkout-modal {
        width: 300px;
        height: 500px;
        background-color: rgb(9, 247, 88);
    }

    .guests-modal {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        width: 400px;
        height: 375px;
        padding-left: 5px;
        padding-top: 15px;
        background: #FFFFFF;
        left: 475px;
        top: 63px;
        margin-top: 12px;
        box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
        border-radius: 32px;

        form {
            display: flex;
            position: relative;
            flex-direction: column;
            
        }

        .expanded-search-label {
            margin-inline-start: 20px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-right: 4px;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 1px solid rgb(235, 235, 235);

            .filter-description {
                display: flex;
                flex-direction: column;
            }
            span:first-of-type {
                font-family: airbnb-book;
                font-size: 16px;
                
            }

            span:nth-of-type(2) {
                font-family: airbnb;
                font-size: 14px;
                font-weight: 400;
                color: $gray;
            }

            .sub-header-lable {
                color: black;
                font-family: airbnb-medium;
                text-decoration: underline;
            }
            
            .el-input-number {
                position: absolute;
                left: 200px;
            }

            .el-input-number__increase, .el-input-number__decrease {
                width: 32px;
                height: 32px;
                cursor: pointer;
                display: inline-flex;
                margin: 0px;
                padding: 0pxt;
                text-align: center;
                text-decoration: none;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(176, 176, 176);
                color: rgb(113, 113, 113);
                touch-action: manipulation;
                align-items: center;
                justify-content: center;
                background: rgb(255, 255, 255);
                border-radius: 50%;
            }
                .el-input-number__decrease.is-disabled, .el-input-number__increase.is-disabled {
                    color:rgb(235, 235, 235);
                    border-color: rgb(235, 235, 235);
                    cursor: not-allowed;
                }

            // }

            .el-input-number__increase {
                left: 126px;
                height: 35px;
                width: 35px
            }

            .el-input-number__decrease {
                left: 51px;
                height: 35px;
                width: 35px
            }

            .el-input__inner {
                font-family: airbnb-book;
                background: transparent;
                border: none;
                color: $black;
                font-size: 16px;
                padding-left: 83px;
            }

            .el-icon-plus:before, .el-icon-minus:before {
                font-weight: 900;
            }

           
  
        }

        .bottom-text {
            width: 306px;
            margin-inline-start: 34px;
            font-family: airbnb;
            font-size: 14px;
            line-height: 18px;
            color: rgb(113, 113, 113);
            margin-top: 8px;
            margin-bottom: 16px;
        }
    }

    .more-locations-modal {
        height: 285px;
        width: 500px;
        position: absolute;
        left: 0px;
        top: 63px;
        background: #FFFFFF;
        border-radius: 32px;
        box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
        margin-top: 12px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 16px 37px;

        .s-location-container {
            display: flex;
            flex-direction: column;

            .location-btn {
            font-size: 17px;
            background-color: rgb(241, 241, 241);
            border: 1px solid rgba(176, 176, 176, 0.2);
            border-radius: 8px;
            width: 48px;
            height: 48px ;
            margin-right: 16px ;
            display: flex ;
            align-items: center;
            justify-content: center;

            }


           
        }

        .location-option-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;

            span {
                font-size: 16px;
                font-family: airbnb;
            }

            img {
                height: 22px;
                width: 22px;
            }
        }

        .location-option-container:hover {
            width: 100%;
            background-color: rgb(241, 241, 241);

        }
    }
}

.hidden {
    display: none;
}

.shown {
    display: block;
}