
.orders-body {
    background-color: white;
    grid-column: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;

    .order-statistics {
        display: flex;
        justify-content: space-between;

        img {
            width: 65px;
            height: 65px;
            margin-inline-start: 20px;
            margin-inline-end: 50px;
        }

        .box {
            display: flex;
            align-items: center;
            
            background: linear-gradient(to left, #ff385d71 , $brand);
            padding: 20px;
            width: 31%;
            height: 150px;
            border-radius: 10px;
            font-size: 25px;
            

            .details {
               
                display: flex;
                flex-direction: column;
                font-family: airbnb-book;
                color: white;

                div:first-of-type {
                    color: $black;
                   font-family: airbnb-medium;
                }

            }

      
        }

        .box:nth-child(2) {
            background: linear-gradient(to left, #ff385d71 , $brand);

        }

        .box:nth-child(3) {
            background: linear-gradient(to left, #ff385d71 , $brand);

        }
    }

    .orders-container {
        // padding: 25px;
        margin-top: 20px;
        font-family: airbnb;
        display: flex;
        justify-content: space-between;

        table {
            border-radius: 10px;
            
        }

        th {
            padding: 15px;
            text-align: left;
            font-family: airbnb-book;
        }


        td {
            color: $gray;
            padding: 12px;
            text-transform: capitalize;
            border:none;
            width: 220px;
            height: 40px;
        }

        .accept {
            cursor: pointer;
            border: none;
            background: transparent;
            font-family: airbnb;
            font-size: 19px;
            text-decoration: underline;
            color: green;
        }

        .decline {
            cursor: pointer;
            border: none;
            background: transparent;
            font-family: airbnb;
            font-size: 19px;
            text-decoration: underline;
            color: rgb(255, 0, 0);
        }

        .status-btn  {
            cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-family: airbnb-book;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    // padding: 12px 10px;
    border: none;
    color: white;
    contain: paint;
        }
    }

 




}



@media (max-width: $break-narrow) {

    .order-statistics {
        flex-direction: column;
    }

    .box {
        grid-column: 2/3;
        font-size: 20px;
    }


}


@media (min-width: $break-narrow) {

    .orders-body {
        // height: 63vh;
        width: 100%;
    }

}

.orange {
    color: rgba(247, 156, 38, 0.61);
 }

 .red {

     color: red;
 }


 .green {
     color: green;
 }